# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# iOS / macOS / IDE (if added later)
ios/Pods/
ios/.symlinks/
.idea/
.vscode/
